<div class="container" style="margin-bottom:70px">
    <h4 class="text-center">ADD/EDIT PRODUCT</h4>
    <form id="editForm">
        <div class="row">
            <div class="col-md-4">
                <img id="thumbnailPic" class="img-thumbnail" src="{{selectedProduct.link}}" />
            </div>
            <div class="col-md-8">
                <label>ID</label>
                <input type="text" class="form-control" ng-model="selectedProduct.id">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="selectedProduct.name">
                <label>Price</label>
                <input type="text" class="form-control" ng-model="selectedProduct.price">
                <label>Description</label>
                <input type="text" class="form-control" ng-model="selectedProduct.description">
                <input file-model="file" type="file" accept="image/png, image/jpg">
                <input type="button" class="btn btn-warning" id="deleteBtn" style="margin-top:10px" value="Edit" 
                       ng-click="updateProduct(selectedProduct)" ng-if="isEditForm">
                <input type="button" class="btn btn-info" id="editBtn" style="margin-top:10px" value="Add"
                       ng-click="addProduct(selectedProduct)" ng-if="!isEditForm">
            </div>
        </div>
    </form>   
</div>